@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(./../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(./../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(./../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v13-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/lato-v13-latin-regular.woff2') format('woff2'),
    url('../fonts/lato-v13-latin-regular.woff') format('woff'),
    url('../fonts/lato-v13-latin-regular.ttf') format('truetype'),
    url('../fonts/lato-v13-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/work-sans-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Work Sans'), local('WorkSans-Regular'),
    url('../fonts/work-sans-v2-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/work-sans-v2-latin-regular.woff2') format('woff2'),
    url('../fonts/work-sans-v2-latin-regular.woff') format('woff'),
    url('../fonts/work-sans-v2-latin-regular.ttf') format('truetype'),
    url('../fonts/work-sans-v2-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}
