$normal-space: 2rem;
$primary-color: #1abc9c;
$grey: #f9f9f9;

body {
  background-color: $grey;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.brand {
  color: $primary-color;
  font-family: 'Work Sans', sans-serif;
  margin: $normal-space 0;
}

.logo {
  height: 5rem;
}

.station-name {
  margin: $normal-space 0 $normal-space * 2;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
  width: 100%;
}

th:nth-child(3),
td:nth-child(3) {
  text-align: right;
}

th,
td {
  padding: 0.75em;
}

tr:nth-child(even),
th {
  background: white;
}

.station-card img {
  border-radius: 50%;
  height: 10rem;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

@import 'components/loading';
