body {
	text-align: center;
	font-family: 'Open Sans', sans-serif !important;
	background-color: #f9f9f9;
}

table {
	text-align: left;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
	border-collapse: collapse;
}

th:nth-child(3), td:nth-child(3) {
	text-align: right;
}

th, td {
	padding: 0.75em;
}

tr:nth-child(even), th {
	background: white;
}

#logo {
	height: 1em;
}

.station img {
	border-radius: 50%;
	height: 10em;
}

h1, h2 {
	color: #1ABC9C;
	font-weight: 300;
}

h1 {
	font-size: 1em;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

#stationBox {
	min-height: 100%;
}